*{
  margin: 0;
  padding: 0;
}
.right-menu li{
  display: inline-block;
  margin-top: 30px;
}
.right-menu .fab{
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}
.navbar-brand img{
  width: 160px;
}
.navbar-brand {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  margin-top: 22px;
}
.header {
  background-color: #f4f6fc;
}
.navbar {
  padding: 0 35px;
}
.navbar-toggler {
  border: navajowhite;
  outline: none;
  margin-top: 30px;
}
.banner-img {
  margin: 80px 115px;
  width: 60%;
}
.banner-img img {
  width: 100%;
  margin-bottom: -80px;
}
.banner-title {
  left: 50%;
  top: 50%;
  position: absolute;
}
.banner-title h1{
  color: white;
  background: rgb(0, 0, 0,0.7);
  font-size: 55px;
  line-height: 70px;
  padding: 0 10x 10px 10px;
}
.fashion-trends {
  padding: 100px 0;
}
.fashion-box {
  margin: 40px 0;
}
.title-style {
  margin: 0 auto 50px;
  box-shadow: 0 4px 5px 0 rgb(0, 0, 50,0.5);
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
}
.title-style h1{
  padding: 40px 0;
}
.title-style::after {
  content: '';
  height: 100px;
  width: 200px;
  background: red;
  position: relative;
  left: -10px;
  top: -10px;
}
.title-style::before {
  content: '';
  height: 100px;
  width: 200px;
  background: red;
  position: relative;
  right: -10px;
  bottom: -10px;
}
.trending-img {
  position: relative;
  margin-bottom: 15px;
}
.trending-img img {
  width: 100%;
}
.btn-buy {
  width: 150px;
  position: absolute;
  outline: none;
  border: none;
  border-radius: 2px;
  left: 50%;
  bottom: 0;
  background-color: white;
  transform: translate(-50%,0);
  padding: 10px 0;
  transition: 0.6s;
  opacity: 0;
}
.trending-img:hover .btn-buy {
  bottom: 50%;
  transform: translate(-50%,50%);
  opacity: 1;
  z-index: 1;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #333;
  opacity: 0;
  top: 0;
}
.overlay:hover {
  opacity: 0.5;
}
.offer {
  background-image: url(images/fashion.jpg);
}
.subscribe {
  padding: 60px;
  max-width: 500px;
  margin-top: 80px;
  margin-bottom: 25px;
  background-color: #fffffc;
  opacity: 0.8;
}
.subscribe a{
  width: 100px;
  background-color: #000;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 4px;
  opacity: 1;
}
.offer img{
  width: 300px;
  height: 400px;
  margin: -100px;
  margin-top: 150px;
  margin-left: 150px;
}
.fashion-blog {
  margin: 200px 0 150px 0;
}
.blog-img {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  display: inline-block;
}
.blog-img img{
  width: 100%;
  height: 100%;
}

.fashion-blog h5 {
  margin-top: 20px;
  font-weight: bold;
}
.fashion-brand {
  margin-bottom: 150px;
}
.brand-logo {
  width: 200px;
  height: 200px;
  margin: 50px auto 30px;
  box-shadow: 0 2px 40px 0 rgb(0, 0, 0,0.18);
  border-radius: 50%;
  background-color: white;

}
.brand-logo img {
  width: 100px;
  margin: 50px auto;
}
.fashion-brand p {
  font-weight: bold;
  margin-top: 30px;
}
.footer {
  margin-top: 150px;
  background-color: #f5f6fc;
}
.payment , .insta-img, .app-download {
  margin: 50px auto;
}
.payment img {
  width: 300px;
  cursor: pointer;
}
.insta-img img {
  width: 75px;
  padding: 5px;
  cursor: pointer;
}
.app-download img {
  width: 200px;
}
.footer h5 {
  margin-bottom: 50px;
}

.footer h5::before {
  content: '';
  width: 70px;
  height: 3px;
  background: #4f74e8;
  top: 75px;
  position: relative;
  }